<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    {% assets "css" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
    {% assets "js_top" %}
      <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
  </head>
  <body>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% for category, message in messages %}
        <div data-alert class="alert-box {{ category }} round">
          {{ message }}
        </div>
      {% endfor %}
    {% endwith %}
    <div id="content">{% block content %}{% endblock %}</div>
    
    {% assets "js_bottom" %}
      <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
