{% extends "base.html" %}

{% block title %}Join ATX Hackerspace!{% endblock %}

{% block content %}
        <div class="span8 offset2">
          <h1>Join ATX Hackerspace!</h1>
          <form method="POST" action="." class="form-horizontal">
            {{ form.csrf_token }}
            {% for field in form %}
              {% if field != form.csrf_token %}
                {% with errors = form.errors.get(field.name, []) %}
                  <div class="control-group{% if errors %} error{% endif %}">
                    <div class="control-label" for="{{ field.name }}">{{ field.label }}</div>
                    <div class="controls">
                      {{ field }}
                      {% for error in errors %}
                        <span class="help-inline">{{ error }}</span>
                      {% endfor %}
                    </div>
                  </div>
                {% endwith %}
              {% endif %}
            {% endfor %}
            <div>
              You will be sent an monthly recurring invoice for $75
              with a $25 discount for signing up for auto-pay. <b>If
              you would like to continue to receive discount of $25 a
              month, select the auto-pay option when you are making
              your first payment!</b> If you do not select the
              auto-pay option, your second invoice will be for $75 and
              you will need to contact treasurer@atxhackerspace.org to
              have the auto-pay discount added back to your account.
            </div>
            <div><br \><b>To reiterate, select the option
            labeled <em style="text-decoration: underline">"Charge the full amount ($50.00) to my credit
            card monthly."</em> to continue being charged only $50,
            otherwise your next invoice will be for $75
            instead. </b></div>
            <div style="font-size:larger; font-weight: bold"><br />
              The default option is to pay manually and is NOT the one
              you want.</div>
            <div class="form-actions">
              <button type="submit" class="btn btn-primary">Send my invoice</button>
            </div>
          </form>
        </div>
{% endblock %}
